<app-menu-adm></app-menu-adm>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Titulo</th>
        <th scope="col">descripcion</th>
        <th scope="col">fecha_inicio</th>
        <th scope="col">hora_inicio</th>
        <th scope="col">fecha_fin</th>
        <th scope="col">hora_fin</th>
        <th scope="col">opciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let res of resultado">
        <th scope="row">{{res.ideleccion}}</th>
        <td>{{res.titulo}}</td>
        <td>{{res.descripcion}}</td>
        <td>{{res.fecha_inicio}}</td>
        <td>{{res.hora_inicio}}</td>
        <td>{{res.fecha_fin}}</td>
        <td>{{res.hora_fin}}</td>
        <td>{{res.opciones}}</td>
      </tr>
    </tbody>
  </table>