<app-menu-adm></app-menu-adm>
<div fxLayout="row" fxLayoutGap="10">
  <div class="main-div">
    <mat-card class="example-card" style="width: 50%">
      <mat-card-header style="width: 100%">
        <mat-card-title>Elección</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="padding: 1%;"><br></div>
        <p>Título de la elección</p>
        <input type="text" matInput [(ngModel)]="titulo" placeholder="titulo" name="titulo">
        <div style="padding: 1%;"><br></div>
        <p>Descripción de la elección</p>
        <input type="text" matInput [(ngModel)]="descripcion" placeholder="descripcion" name="descripcion">
        <div style="padding: 1%;"><br></div>
        <p>Fecha de inicio de la elección</p>
        <input type="text" matInput [(ngModel)]="fecha_inicio" placeholder="fecha_inicio" name="fecha_inicio">
        <div style="padding: 1%;"><br></div>
        <p>Hora de inicio de la elección</p>
        <input type="text" matInput [(ngModel)]="hora_inicio" placeholder="hora_inicio" name="hora_inicio">
        <div style="padding: 1%;"><br></div>
        <p>Fecha de finalización de la elección</p>
        <input type="text" matInput [(ngModel)]="fecha_fin" placeholder="fecha_fin" name="fecha_fin">
        <div style="padding: 1%;"><br></div>
        <p>Hora de finalización de la elección</p>
        <input type="text" matInput [(ngModel)]="hora_fin" placeholder="hora_fin" name="hora_fin">
        <div style="padding: 1%;"><br></div>
        <p>Opciones</p>
        <input type="text" matInput [(ngModel)]="opciones" placeholder="opciones" name="opciones">
        <br>
        <p>{{mensaje}}</p>
        <br>
        <div style="text-align: center;">
          <button mat-button style="background-color: blue; color: white"  (click)="eleccion()">
            CREAR ELECCIÓN
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div></div>
