<app-menu-v></app-menu-v>
<div fxLayout="row" fxLayoutGap="10">
  <div class="main-div">
    <mat-card class="example-card" style="width: 50%">
      <mat-card-header style="width: 100%">
        <mat-card-title>Votación</mat-card-title>
      </mat-card-header>
      <div class="container">
        <p>Usuario Registrado : {{ usuario }}</p>
      </div>
      <mat-card-content style="width: 100%">
        <div class="form-group">
          <div style="padding: 15px"></div>
          <p>ELECCIÓN</p>
          <select
            name="contactMethod"
            id="contactMethod"
            class="form-control"
            [(ngModel)]="contact.contactMethod"
          >
            <option *ngFor="let eleccion of Elecciones" [value]="eleccion.id">
              {{ eleccion.label }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <div style="padding: 15px"></div>
          <p>PARTIDO</p>
          <select
            name="contactMethod"
            id="contactMethod"
            class="form-control"
            [(ngModel)]="contact.contactMethod"
          >
            <option *ngFor="let partido of Partidos" [value]="partido.id">
              {{ partido.label }}
            </option>
          </select>
        </div>
        <div style="padding: 15px"></div>
        <p>PIN</p>
        <input
          type="text"
          matInput
          [(ngModel)]="pin"
          placeholder="pin"
          name="pin"
          style="width: 100%"
        />
        <div style="padding: 15px"></div>
        <div style="text-align: center">
          <button
            mat-raised-button
            (click)="pinc()"
            color="primary"
            style="background-color: green; color: white"
          >
            ENVIAR PIN A CORREO
          </button>
        </div>
        <div style="text-align: center">
          <div style="padding: 15px"></div>
          <button
            mat-raised-button
            (click)="llenarEleccion()"
            color="primary"
            style="background-color: blue; color: white"
          >
            VOTAR
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="padding: 35%">
    <br />
  </div>
</div>
