<app-menu></app-menu>
<div fxLayout="row" fxLayoutGap="10">
  <div class="main-div">
    <mat-card class="example-card" style="width: 50%;">
      <mat-card-header style="width: 100%">
        <mat-card-title>Registro</mat-card-title>
      </mat-card-header>
      <!--<div class="container"> <p>Your IP Address : {{ipAddress}}</p> </div>   -->
      <mat-card-content style="width: 100%;">
        <p>CUI</p>
        <input type="text" matInput [(ngModel)]="cui" placeholder="Cui" name="correo" style="width: 100%;"/>
        <p>Nombres</p>
        <input type="text" matInput [(ngModel)]="nombre" placeholder="nombre" name="nombre" style="width: 100%;"/>
        <p>Apellidos</p>
        <input type="text" matInput [(ngModel)]="apellido" placeholder="apellido" name="apellido" style="width: 100%;"/>
        <p>Email</p>
        <input type="text" matInput [(ngModel)]="email" placeholder="Email" name="Email" style="width: 100%;"/>
        <p>Password</p>
        <input type="password" matInput [(ngModel)]="password" placeholder="password" name="password" style="width: 100%;"/>
        <br>
        <div style="padding: 1%;"><br></div>
        <p>{{alerta}}</p>
        <div style="padding: 15px;"></div>
        <button mat-raised-button (click)="registro()" color="primary"style="background-color: blue; color: white">REGISTRARSE</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="padding: 35%">
    <br />
  </div>
</div>
